{% extends 'base.html.twig' %}

{% block title %}Course index{% endblock %}

{% block body %}
    <h1 style="margin-top: 6% ;margin-bottom: 2%" >Course Dashboard</h1>
    <a class="btn btn-primary" style="margin-left: 74vw ;margin-bottom: 1%" href="{{ path('app_course_crud_new') }}">Create new</a>

    <table class="table table-hover" >
        <thead style="background-color: #e7efef">
            <tr>
                <th>Id</th>
                <th>CourseName</th>
                <th>Enseignant</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for course in courses %}
            <tr>
                <td>{{ course.id }}</td>
                <td>{{ course.courseName }}</td>
                <td>{{ course.enseignant.firstName }} {{ course.enseignant.lastName }}</td>
                <td>
                    <a href="{{ path('app_course_crud_show', {'id': course.id}) }}">Show</a>
                    <a href="{{ path('app_course_crud_edit',{'id': course.id}) }}">Edit</a>
                    <a href="{{ path('app_course_crud_delete', {'id': course.id}) }}">Delete</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
